*{
    background-color: rgb(17, 17, 71);
    color: white;
}

h1{
    color: white;
    text-align: center;
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center; */

.vac{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}